.img-listado:hover {
    transform: scale(2);
}

footer {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: gray;
}
